{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'FUNDAHOG' %}</h1>
{% endblock %}

{% block extrastyle %}
<style>
	#header {
		background-color: #3F7F9C;
		border-bottom: solid 6px #51A2C7;
		color: #FFF
	}
	#branding h1 {
		color: #FFF
	}
	.module h2, .module caption, .inline-group h2 {
		background: #DDD url(/static/admin/img/nav-bg.gif) bottom left repeat-x;
		color: #5CA3C4
	}
	a:link, a:visited {
		color: #477D96
	}
	a:hover {
		color: #1F3742
	}
	a.section:link, a.section:visited {
		color: #666
	}
	.row1 {
		background: #EBEDF5
	}
	label[for='id_contenido'] {
		display:none !important
	}
	
	#id_contenido {
		width: 50%;
		float:left;
	}
</style>
{% endblock %}

{% block nav-global %}{% endblock %}
