@charset "utf-8";

/*  FUNDAHOG
    UCAB Guayana
    Tema: FUNDAHOG
    Tema URL: http://www.fundahog.org
    Autor: José Cols - josecolsg@gmail.com - @josecols
    Version: 1.0
*/

* {
    margin: 0;
    padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block
}
nav ul {
    list-style: none
}
body {
    background: #ecfafc url(../img/body-top.jpg) center top no-repeat;
    color: #555;
    font-family: 'Open Sans', sans-serif;
}
i {
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    margin: 4px 5px 0;
    text-align: center;
    width: 1.25em;
}
#header {
    height: 113px;
    margin: 15px auto;
    max-width: 1020px;
    position: relative;
}
#header .contacto {
    display: none
}
#header .logo {
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
}
#pagina {
    background-color: #FCFCFC;
    border-top: 7px solid #6FC8E5;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    margin: 15px auto;
    max-width: 960px;
    padding: 10px 30px;
}
.toggler {
    background-color: #ECECEC;
    border-bottom: 1px solid #CECECE;
    border-radius: 4px;
}
#status {
    color: #FFF;
    border-radius: 4px;
    display: none;
    padding: 5px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .7);
}
#status.exito {
    background-color: #61C791;
}
#status.error {
    background-color: #EB6B5D;
}
#status i {
    font-size: 16px;
}
#barra {
    background-color: #ECECEC;
    border-radius: 4px;
    display: none;
    margin-top: 10px;
    width: 100%;
}
#barra li {
    display: block;
    width: 100%;
}
#barra li:first-child a {
    border-radius: 5px 5px 0 0
}
#barra li:last-child a {
    border-radius: 0 0 5px 5px
}
#barra li a,
.toggler {
    color: #444;
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    text-shadow: 1px 1px 0 #FFF;
}
#barra li a:hover,
.toggler:hover,
#barra .seleccionado {
    background-color: #67B9D4;
    color: #FFF;
    text-shadow: 1px 1px 0 #4A8699;
}
#slider {
    background-color: #64767F;
    border-radius: 4px;
    height: 400px;
    margin-top: 20px;
}
#slider nav {
    border-left: 1px solid #8E97A1;
    width: 28%;
    height: 400px;
}
#caja {
    border-top: 1px solid #CCC;
    margin: 20px auto;
    padding: 35px 0 0;
}
#caja .correo,
#caja .social,
#caja .bienvenida {
    width: 100%;
}
#caja .social,
.center {
    text-align: center !important;
}
#caja .social img {
    height: 48px;
    text-align: center;
    width: 48px;
}
#modal {
    display: none;
    width: 500px;
}
#modal label {
    display: inline-block;
    margin-bottom: 5px;
}
#modal .imagenes {
    display: block;
    margin: 10px;
    height: 300px;
    overflow-y: scroll;
}
#modal .imagen {
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 100px;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .7);
    width: 100px;
    height: 100px;
    opacity: 0.7;
    margin: 5px;
    float: left;
}
#modal .imagen:hover {
    cursor: pointer;
    opacity: 1;
}
#modal .imagen:active {
    opacity: 0.7;
}
#modal select {
    margin-right: 15px;
}
#modal .titulo,
#principal #caja .titulo,
#principal #sidebar .titulo,
#principal .lista .titulo {
    font-size: 1.4em;
    margin-top: 15px;
    text-align: left;
    padding: 0 0 7px;
    font-weight: 300;
}
#modal .titulo {
    margin-top: 0;
}
#principal #contenido {
    width: 100%;
}
#principal #contenido img {
    max-width: 100%;
    border-radius: 6px;
    display: block;
    margin: 5px auto;
}
#principal #contenido ul,
#principal #contenido ol {
    padding-left: 30px;
}
#principal #sidebar {
    margin-top: 30px;
    width: 100%;
}
#principal #sidebar #nueva_categoria {
    outline: none;
    display: none;
    border-bottom: 1px solid #CCC;
    margin: 0 4px;
}
#principal #sidebar nav {
    margin-top: 20px;
    background-color: #F0F0F0;
}
#principal #sidebar.left nav ul {
    margin-left: 0;
}
#principal #sidebar nav .flecha {
    display: none;
}
#principal #sidebar nav a {
    border-bottom: 1px solid #DDD;
    color: #555;
    display: block;
    padding: 8px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 #FFF;
}
#principal #sidebar nav li:last-child a {
    border: none;
}
#principal #sidebar nav a:hover,
#principal #sidebar nav .seleccionado {
    color: #FFF;
    background-color: #A14C5E;
    text-shadow: 1px 1px 0 #782944;
}
#principal #sidebar .categorias {
    background-color: #FFF;
    margin: 0 0 0 10px;
}
#principal #sidebar .categorias li {
    display: block;
    float: left;
    font-size: 0.9em;
}
#contenido .pop {
    color: #555;
    text-shadow: 1px 1px 0 #FFF;
    display: block;
    background-color: #EAEAEA;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 15px;
    text-align: left;
}
#principal #sidebar .categorias a {
    background-color: #F0F0F0;
    border-radius: 4px;
    padding: 4px;
    margin: 4px;
    text-align: left;
}
#principal #sidebar .categorias a:hover,
#contenido .pop:hover {
    background-color: #BBB;
    color: #FFF;
    text-shadow: none;
}
#principal #sidebar.left ul {
    list-style: none;
    margin-left: 20px;
}
#principal .titulo {
    font-size: 2em;
    font-weight: 300;
    padding: 20px 0 15px;
}
#principal .titulo small {
    border-left: 3px solid #A14C5E;
    font-size: 16px;
    font-weight: 300;
    margin-left: 2px;
    padding-left: 6px;
}
#principal .titulo a {
    color: #3F7F9C;
    text-decoration: none;
}
#principal .titulo a:hover {
    color: #51A2C7;
}
#principal .subtitulo {
    font-size: 1.5em;
    font-weight: 300;
    padding: 0 0 5px;
}
#principal .navegacion {
    margin: 40px 0 10px;
}
#principal .navegacion .boton,
#principal #sidebar .boton {
    background-color: #A14C5E;
    color: #FFF;
    display: inline-block;
    margin: 0 15px 20px;
    padding: 6px 0;
    text-align: center;
    text-decoration: none;
    width: 100px;
}
#principal #sidebar .boton {
    margin: 0 0 20px;
    padding: 6px;
    width: auto;
}
#principal #contenido .boton {
    background-color: #A14C5E;
    color: #FFF;
    display: block;
    margin: 10px 0 0;
    padding: 6px;
    width: auto;
    font-size: 16px;
    font-weight: 400;
}
#principal .navegacion .boton:hover,
#principal #sidebar .boton:hover {
    background-color: #BA576C;
}
#principal .navegacion .boton:active,
#principal #sidebar .boton:active {
    background-color: #D1627A;
}
#principal #sidebar .boton.cambios,
#principal #contenido .boton.cambios {
    background-color: #4E9DBF;
}
#principal #sidebar .boton.cambios:hover,
#principal #contenido .boton.cambios:hover {
    background-color: #58B0D6;
}
#principal #sidebar .boton.cambios:active,
#principal #contenido .boton.cambios:hover {
    background-color: #60C1EB;
}
#principal .enlace {
    margin-top: 10px;
}
#principal .descripcion {
    font-weight: 300;
    margin-bottom: 10px;
}
#principal .contenedor-banner {
    position: relative;
    margin: 15px 0;
    height: 200px;
}
#principal .contenedor-banner .banner {
    width: 100%;
    height: 200px;
    -webkit-filter: blur(1px);
    background: url(../img/prueba.jpg) center center;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#principal .contenedor-banner a {
    border: 3px solid #FFF;
    border-radius: 6px;
    color: #FFF;
    display: block;
    font-weight: bold;
    padding: 6px 15px;
    text-decoration: none;
    width: auto;
    position: absolute;
    z-index: 10;
}
#principal .contenedor-banner .chat {
    top: 55px;
    left: 15%;
}
#principal .contenedor-banner .chat:hover {
    border-color: #F2277A;
    color: #F2277A;
}
#principal .contenedor-banner .twitter {
    top: 126px;
    left: 50%;
    margin-left: -46px;
}
#principal .contenedor-banner .twitter:hover {
    border-color: #18CFE8;
    color: #18CFE8;
}
#principal .contenedor-banner .facebook {
    top: 55px;
    right: 15%;
}
#principal .contenedor-banner .facebook:hover {
    border-color: #108CDE;
    color: #108CDE;
}
#principal a,
#principal .titulo small a {
    color: #A14C5E;
    text-decoration: none;
}
#principal a:hover,
#principal .titulo small a:hover {
    color: #b16777;
    text-decoration: none;
}
#principal hr {
    background: #DDD;
    border: 0;
    height: 1px;
    margin: 40px auto 5px;
    overflow: hidden;
}
#principal p,
#principal #contenido ul,
#principal #contenido ol {
    line-height: 1.8;
    text-align: justify;
}
.formulario .boton {
    background-color: #4E9DBF;
    border: none;
    border-radius: 4px;
    color: #FFF;
    cursor: pointer;
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 8px;
}
.formulario .boton:hover {
    background-color: #58B0D6
}
.formulario .boton:active {
    background-color: #60C1EB
}
.formulario .contenedor-input,
#modal .contenedor-input {
    background-color: #FFF;
    border: 1px solid #DDD;
    border-left: 4px solid #4E9DBF;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 5px 5px 6px;
}
.formulario .focus,
#modal .focus {
    border: 1px solid #BBB;
    border-left: 4px solid #0C87BF;
}
.formulario .contenedor-input input,
#modal .contenedor-input input {
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-left: 5px;
    width: 80%;
}
.formulario .contenedor-input input:focus,
#modal .contenedor-input input:focus {
    outline: none
}
.formulario textarea {
    border: 1px solid #DDD;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
    padding: 8px;
    width: 100%;
}
.formulario textarea:focus {
    border: 1px solid #BBB;
    outline: none;
}
.formulario.admin {
    display: none;
    margin-top: 30px;
}
.formulario.admin label {
    display: block;
    margin: 15px 0 5px;
}
.formulario.admin select {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    width: 100%;
}
.formulario.admin .contenedor-input input {
    width: 98%;
}
.busqueda .contenedor-input {
    border-left: 4px solid #A14C5E;
}
.busqueda .focus {
    border-left: 4px solid #D1627A;
}
.lista {
    list-style: none;
    margin-top: 30px;
}
.lista li:nth-child(odd) .portada,
.lista li:nth-child(3n+3) .portada {
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 170px;
    height: 170px;
    margin: 0 auto;
    width: 170px;
}
.rosa {
    color: #A14C5E;
}
.left {
    float: left
}
.right {
    float: right;
}
.fix {
    clear: both
}
.hardware {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
p.center {
    margin-top: 15px;
}
@media only screen and (min-width: 780px) {
    #header .contacto {
        bottom: 10px;
        display: block;
        position: absolute;
        right: 0;
        text-align: right;
        text-shadow: 1px 1px 0 #E3F0F2;
    }
    #header .logo {
        left: 6px;
        margin: 0;
    }
    .toggler {
        display: none;
    }
    #barra {
        background-color: #ECECEC;
        border-bottom: 1px solid #CECECE;
        display: block !important;
    }
    #barra li {
        display: inline-block;
        width: auto;
    }
    #barra li:first-child a {
        border-radius: 5px 0 0 5px
    }
    #barra li:last-child a {
        border-radius: 0
    }
    #caja .correo,
    #caja .social {
        float: left;
        padding: 0 0 0 2%;
        width: 29%;
    }
    #caja .bienvenida {
        float: left;
        padding: 0 2% 0 0;
        width: 63%;
    }
    #principal #caja .titulo {
        margin-top: 0;
    }
    #principal #contenido.left,
    #principal #titulo.left,
    #principal #contenido.right {
        width: 70%;
    }
    #principal #contenido img.portada {
        float: left;
        margin: 0 10px 10px 0;
    }
    #principal #contenido .cke_editable img {
        float: none;
    }
    #principal #sidebar {
        width: 28%;
    }
    #principal #sidebar nav {
        margin-top: 0;
    }
    #principal #sidebar nav .flecha {
        background-image: url("../img/flecha.png");
        display: block;
        float: right;
        height: 25px;
        position: absolute;
        right: 0px;
        top: 7px;
        width: 8px;
    }
    #principal #sidebar nav a {
        text-align: left;
    }
    #principal .contenedor-banner .chat {
        top: 81px;
    }
    #principal .contenedor-banner .twitter {
        top: 81px;
    }
    #principal .contenedor-banner .facebook {
        top: 81px;
    }
    .lista li:nth-child(odd) .portada {
        float: left;
        margin: 20px;
    }
    .lista li:nth-child(3n+3) .portada {
        float: right;
        margin: 20px;
    }
}