<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{{entrada}} - FUNDAHOG</title>
    <meta name="robots" content="index, follow">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700'>
    <link rel="stylesheet" href="{{STATIC_URL}}css/fundahog.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome.min.css">{% if request.user.is_staff %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/fundahog.inline.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/fundahog.progress.css">{% endif %}
</head>{% load filters %}

<body>
    <header id="header">
        <img class="logo" src="{{STATIC_URL}}img/logo.png" alt="FUNDAHOG">
        <table class="contacto">
            <tr>
                <td>{% for telefono in telefonos.all %}{{telefono}}{% if not forloop.last %} / {% endif %}{% endfor %}</td>
                <td>
                    <i class="fa fa-phone"></i>
                </td>
            </tr>
            <tr>
                <td>{{direccion}}</td>
                <td>
                    <i class="fa fa-map-marker"></i>
                </td>
            </tr>
            <tr>
                <td>{{rif}}</td>
                <td>
                    <i class="fa fa-building-o"></i>
                </td>
            </tr>
        </table>
        <div class="fix"></div>
    </header>
    <div id="pagina">
        <div id="status" class="exito"></div>
        {% if importante %}
        <a class="importante" href="{% url entrada importante.slug importante.pk %}">
            <div id="importante">
                <i class="fa fa-star"></i>{{importante}}
            </div>
        </a>
        {% endif %}
        <a id="menu" class="toggler" href="javascript:void(0)">
            <i class="fa fa-bars"></i>Menú</a>
        <nav id="barra" class="hardware">
            <ul>
                <li>
                    <a href="{% url nosotros %}">Nosotros</a>
                </li>
                <li>
                    <a class="seleccionado" href="{% url blog %}">Blog</a>
                </li>
                <li>
                    <a href="{% url programas %}">Programas</a>
                </li>
                <li>
                    <a href="{% url contacto %}">Contacto</a>
                </li>
                <li>
                    <a href="{% url eventos %}">Eventos</a>
                </li>
                <li>
                    <a href="{% url libros %}">Libros</a>
                </li>
                <li>
                    <a href="{% url galeria %}">Galería</a>
                </li>
                {% if request.user.is_staff %}
                <li>
                    <a href="{% url ayuda %}">Ayuda</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        <section id="principal">
            <aside id="sidebar" class="right">
                {% if request.user.is_staff %}
                <a id="guardar" class="boton right" href="javascript:void(0)" title="Haz clic en el contenido para editarlo">Modo edición activo</a>
                <div class="fix"></div>
                {% endif %}
                <form method="get" action="{% url blog_busqueda '1' %}" class="busqueda formulario">
                    <div class="contenedor-input">
                        <i class="fa fa-search"></i>
                        <input name="q" type="text" placeholder="Búsqueda">
                    </div>
                    <div class="fix"></div>
                </form>
                <h2 class="titulo">Categorías</h2>
                {% if request.user.is_staff %}
                <nav class="categorias">
                    <ul>
                        {% for categoria in categorias %}
                        <li>
                            <a class="categoria" href="{% url blog_busqueda_query '1' categoria|slugify %}">
                                <i class="fa fa-bookmark"></i>{{categoria}}</a>
                        </li>
                        {% endfor %}
                        <div class="fix"></div>
                    </ul>
                    <div id="nueva_categoria" contenteditable="false"></div>
                    <a id="agregar" href="javascript:void(0)">
                        <i class="fa fa-plus"></i>Agregar</a>
                </nav>
                {% else %} {% if categorias %}
                <nav class="categorias">
                    <ul>
                        {% for categoria in categorias %}
                        <li>
                            <a class="categoria" href="{% url blog_busqueda_query '1' categoria|slugify %}">
                                <i class="fa fa-bookmark"></i>{{categoria}}</a>
                        </li>
                        {% endfor %}
                        <div class="fix"></div>
                    </ul>
                </nav>
                {% else %}
                <p>No hay categorías registradas</p>
                {% endif %} {% endif %}
            </aside>
            <section id="contenido" class="left">
                {% if request.user.is_staff %}
                <div class="titulo">
                    <div id="titulo" contenteditable="true">
                        {{entrada}}
                    </div>

                    <small>
                        <i class="fa fa-star"></i>Importante:
                        <input type="checkbox" name="importante" {% if entrada.importante %}checked{% endif %}>
                        <i class="fa fa-calendar"></i>{{entrada.creado|date:"d/m/Y"}}
                        <i class="fa fa-user"></i>{{entrada.autor|nombre_completo}}
                    </small>
                </div>
                <a href="#modal" class="pop fancybox">
                    <i class="fa fa-picture-o"></i>Agregar imagen al contenido</a>
                <div id="modal" class="modal">
                    <div id="progress" class="progress">
                        <span></span>
                    </div>
                    <h2 class="titulo">Selecciona una imagen existente</h2>
                    <label for="galerias">Galería:</label>
                    <select name="galerias" id="galerias"></select>
                    <label for="albumes">Álbum:</label>
                    <select name="albumes" id="albumes"></select>
                    <ul class="imagenes"></ul>
                    <label for="imagen">Agregar imagen:</label>
                    <div class="contenedor-input">
                        <input type="text" name="titulo_imagen" id="titulo_imagen" placeholder="Título de la imagen">
                    </div>
                    <input type="file" name="imagen" id="imagen">
                </div>
                <div id="contenido-html" contenteditable="true">
                    {{entrada.contenido|safe}}
                </div>

                {% else %}
                <h1 class="titulo">{{entrada}}
                    <small>
                        {% if entrada.importante %}
                        <i class="fa fa-star"></i>Importante{% endif %}
                        <i class="fa fa-calendar"></i>{{entrada.creado|date:"d/m/Y"}}
                        <i class="fa fa-user"></i>{{entrada.autor|nombre_completo}}
                    </small>
                </h1>
                {{entrada.contenido|safe}} {% endif %}
                <div class="fix"></div>
                <hr class="separador">
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    var disqus_shortname = 'fundahog';
                    (function() {
                        var dsq = document.createElement('script');
                        dsq.type = 'text/javascript';
                        dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <a href="http://disqus.com" class="dsq-brlink">
                    <span class="logo-disqus">Disqus</span>
                </a>
            </section>
            <div class="fix"></div>
        </section>
    </div>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script async src="{{STATIC_URL}}js/fundahog.js"></script>
    {% if request.user.is_staff %}
    <script>
        inline = true;
        url = '{% url entrada_modificar %}';
        csrfToken = '{{csrf_token}}';
        mediaURL = '{{MEDIA_URL}}';
        urlGalerias = '{% url galerias %}';
        urlAlbumes = '{% url albumes %}';
        urlImagenes = '{% url imagenes %}';
        urlAgregarImagen = '{% url imagen_agregar %}';
        data = '';
        $(document).ready(function() {
            $('#guardar').click(function() {
                var titulo = $('#titulo').text();
                var contenido = encodeURIComponent($('#contenido-html').html());
                var importante = ($('input[name=importante]').is(':checked') ? 'True' : 'False');
                var entrada = "{{entrada.pk}}";
                data = 'entrada=' + entrada + '&titulo=' + titulo + '&contenido=' + contenido + '&importante=' + importante + '&csrfmiddlewaretoken=' + csrfToken;
            });

            $('input[name=importante]').change(function() {
                $("#contenido-html").change();
            });
        });
    </script>
    <script defer src="{{STATIC_URL}}js/ckeditor/ckeditor.js"></script>
    <script async src="{{STATIC_URL}}js/jquery.fancybox.min.js"></script>
    <script async src="{{STATIC_URL}}js/jquery.mobile.js"></script>
    <script async src="{{STATIC_URL}}js/fundahog.admin.js"></script>
    <script async src="{{STATIC_URL}}js/fundahog.edicion.js"></script>
    <script async src="{{STATIC_URL}}js/fundahog.upload.js"></script>
    <script async src="{{STATIC_URL}}js/fundahog.selector.js"></script>
    {% endif %}
</body>

</html>