<!doctype html>
<html lang="es">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <title>FUNDAHOG</title>
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700'>
		<link rel="stylesheet" href="{{STATIC_URL}}css/fundahog.css">
		<link rel="stylesheet" href="{{STATIC_URL}}css/iconos.css">
    </head>
    
    <body>
        <header id="header">
			<img class="logo" src="{{STATIC_URL}}img/logo.png" alt="FUNDAHOG">
            <table class="contacto">
                <tr>
                    <td>Teléfono</td>
                    <td>
                        <span class="i-telefono"></span>
                    </td>
                </tr>
                <tr>
                    <td>Ubicación</td>
                    <td>
                        <span class="i-ubicacion"></span>
                    </td>
                </tr>
            </table>
            <div class="fix"></div>
        </header>
        <div id="pagina" class="hardware">
            <a id="menu" class="toggler" href="javascript:void(0)">
                <span class="i-menu"></span>Menú</a>
            <nav id="barra">
                <ul>
                    <li>
                        <a href="">Nosotros</a>
                    </li>
                    <li>
                        <a href="{% url blog %}">Blog</a>
                    </li>
                    <li>
                        <a href="">Programas</a>
                    </li>
                    <li>
                        <a href="">Contacto</a>
                    </li>
                    <li>
                        <a class="seleccionado" href="{% url eventos %}">Eventos</a>
                    </li>
                    <li>
                        <a href="">Libros</a>
                    </li>
                    <li>
                        <a href="">Galería</a>
                    </li>
					{% if request.user.is_staff %}
					<li>
						<a href="">Ayuda</a>
					</li>
					{% endif %}
                </ul>
            </nav>
            <section id="principal">
            	{% if eventos %}            	
                <ul class="lista">
                	{% for evento in eventos %}
                    <li>
                        <div class="imagen" style="background-image: url('{{MEDIA_URL}}{{ evento.portada }}');"></div>
                        <h2 class="titulo">
                            <a href="{% url evento evento.slug evento.pk %}">{{evento}}</a>
                            <small>
                                <span class="i-calendario"></span>{{evento.fecha|date:"d/m/Y"}}</small>
                        </h2>
                        <p>{{evento.contenido|safe|truncatewords_html:50}}</p>
                        <p class="enlace">
                            <a href="{% url evento evento.slug evento.pk %}"><span class="i-mas"></span>Leer más</a>
                        </p>
                        <div class="fix"></div>
                    </li>
                    <li>
                        <hr>
                    </li>
                    {% endfor %}                  
                </ul>
                <nav class="navegacion">
                    <a href="" class="boton left">Anterior</a>
                    <a href="" class="boton right">Siguiente</a>
                    <div class="fix"></div>
                </nav>
                {% else %}
                <p class="center">No hay eventos registrados</p>
                {% endif %}
            </section>
        </div>
        <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script async defer src="{{STATIC_URL}}js/fundahog.js"></script>
    </body>

</html>