<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>FUNDAHOG</title>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700'>
    <link rel="stylesheet" href="{{STATIC_URL}}css/fundahog.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome.min.css">{% if request.user.is_staff %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/jquery.datetimepicker.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/fundahog.progress.css">{% endif %}
</head>

<body>
    <header id="header">
        <img class="logo" src="{{STATIC_URL}}img/logo.png" alt="FUNDAHOG">
        <table class="contacto">
            <tr>
                <td>{% for telefono in telefonos.all %}{{telefono}}{% if not forloop.last %} / {% endif %}{% endfor %}</td>
                <td>
                    <i class="fa fa-phone"></i>
                </td>
            </tr>
            <tr>
                <td>{{direccion}}</td>
                <td>
                    <i class="fa fa-map-marker"></i>
                </td>
            </tr>
        </table>
        <div class="fix"></div>
    </header>
    <div id="pagina" class="hardware">
        <div id="status" class="exito"></div>
        <a id="menu" class="toggler" href="javascript:void(0)">
            <i class="fa fa-bars"></i>Menú</a>
        <nav id="barra">
            <ul>
                <li>
                    <a href="{% url nosotros %}">Nosotros</a>
                </li>
                <li>
                    <a href="{% url blog %}">Blog</a>
                </li>
                <li>
                    <a href="{% url programas %}">Programas</a>
                </li>
                <li>
                    <a href="{% url contacto %}">Contacto</a>
                </li>
                <li>
                    <a class="seleccionado" href="{% url eventos %}">Eventos</a>
                </li>
                <li>
                    <a href="{% url libros %}">Libros</a>
                </li>
                <li>
                    <a href="{% url galeria %}">Galería</a>
                </li>
                {% if request.user.is_staff %}
                <li>
                    <a href="">Ayuda</a>
                </li>
                {% endif %}
            </ul>
        </nav>

        <section id="principal">
            {% if request.user.is_staff %}
            <section id="contenido" class="left">
                <form class="formulario admin eventos">
                    <div id="progress-principal" class="progress">
                        <span></span>
                    </div>
                    <div class="contenedor-input">
                        <input type="text" name="titulo" placeholder="Título">
                    </div>
                    <a href="#modal" class="pop fancybox">
                        <i class="fa fa-picture-o"></i>Agregar imagen al contenido</a>
                    <div id="modal" class="modal">
                        <div id="progress" class="progress">
                            <span></span>
                        </div>
                        <h2 class="titulo">Selecciona una imagen existente</h2>
                        <label for="galerias">Galería:</label>
                        <select name="galerias" id="galerias"></select>
                        <label for="albumes">Álbum:</label>
                        <select name="albumes" id="albumes"></select>
                        <ul class="imagenes"></ul>
                        <label for="imagen">Agregar imagen:</label>
                        <div class="contenedor-input">
                            <input type="text" name="titulo_imagen" id="titulo_imagen" placeholder="Título de la imagen">
                        </div>
                        <input type="file" name="imagen" id="imagen">
                    </div>
                    <textarea id="evento_contenido" name="contenido" placeholder="contenido"></textarea>
                    <label>Fecha y hora del evento:</label>
                    <div class="contenedor-input">
                        <input id="fecha_hora" type="text" name="fecha" placeholder="día-mes-año hora:minuto">
                    </div>
                    <label>Imagen de portada:</label>
                    <input id="portada" type="file" name="portada">
                </form>
            </section>
            <aside id="sidebar" class="right">
                <a id="guardar" class="boton right cambios" href="javascript:void(0)" style="display:none;">
                    <i class="fa fa-floppy-o"></i>Guardar</a>
                <a id="nuevo" class="boton right" href="javascript:void(0)">
                    <i class="fa fa-file-text-o"></i>Nuevo evento</a>
                <div class="fix"></div>
            </aside>
            <div class="fix"></div>
            {% endif %} {% if eventos %}
            <ul class="lista">
                {% for evento in eventos %}
                <li>
                    <div class="portada" style="background-image: url('{{MEDIA_URL}}{{ evento.portada }}');"></div>
                    <h2 class="titulo">
                        <a href="{% url evento evento.slug evento.pk %}">{{evento}}</a>
                        <small>
                            {% if request.user.is_staff %}
                            <a href="{% url evento evento.slug evento.pk %}">
                                <i class="fa fa-pencil-square-o"></i>Editar</a>
                            <a id="borrar-{{evento.pk}}" class="borrar" href="javascript:void(0)">
                                <i class="fa fa-times"></i>Borrar</a>
                            {% endif %}
                            <i class="fa fa-calendar"></i>{{evento.fecha}}
                        </small>
                    </h2>
                    <p>{{evento.contenido|safe|truncatewords_html:50}}</p>
                    <p class="enlace">
                        <a href="{% url evento evento.slug evento.pk %}">
                            <i class="fa fa-plus"></i>Leer más</a>
                    </p>
                    <div class="fix"></div>
                </li>
                <li>
                    <hr>
                </li>
                {% endfor %}
            </ul>
            {% if eventos.has_previous or eventos.has_next %}
            <nav class="navegacion">
                {% if eventos.has_previous %}
                <a href="{% url eventos_pagina eventos.previous_page_number %}" class="boton left">Anterior</a>
                {% endif %} {% if eventos.has_next %}
                <a href="{% url eventos_pagina eventos.next_page_number %}" class="boton right">Siguiente</a>
                {% endif %}
                <div class="fix"></div>
            </nav>
            {% endif %} {% else %}
            <p class="center">No hay eventos registrados</p>
            {% endif %}
        </section>
    </div>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script async defer src="{{STATIC_URL}}js/fundahog.js"></script>
    {% if request.user.is_staff %}
    <script>
        csrfToken = '{{csrf_token}}';
        mediaURL = '{{MEDIA_URL}}';
        urlAgregarEvento = '{% url evento_agregar %}';
        urlBorrarEvento = '{% url evento_borrar %}';
        urlGalerias = '{% url galerias %}';
        urlAlbumes = '{% url albumes %}';
        urlImagenes = '{% url imagenes %}';
        urlAgregarImagen = '{% url imagen_agregar %}';
    </script>
    <script src="{{STATIC_URL}}js/ckeditor/ckeditor.js"></script>
    <script src="{{STATIC_URL}}js/jquery.fancybox.min.js"></script>
    <script async defer src="{{STATIC_URL}}js/jquery.mobile.js"></script>
    <script async defer src="{{STATIC_URL}}js/fundahog.admin.js"></script>
    <script async defer src="{{STATIC_URL}}js/fundahog.upload.js"></script>
    <script async defer src="{{STATIC_URL}}js/fundahog.eventos.js"></script>
    <script async defer src="{{STATIC_URL}}js/fundahog.selector.js"></script>
    <script src="{{STATIC_URL}}js/datetimepicker/jquery.datetimepicker.min.js"></script>
    {% endif %}
</body>

</html>