<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>FUNDAHOG</title>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700'>
    <link rel="stylesheet" href="{{STATIC_URL}}css/fundahog.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/jquery.fancybox.min.css">{% if request.user.is_staff %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/fundahog.progress.css">{% endif %}
</head>

<body>
    <header id="header">
        <img class="logo" src="{{STATIC_URL}}img/logo.png" alt="FUNDAHOG">
        <table class="contacto">
            <tr>
                <td>{% for telefono in telefonos.all %}{{telefono}}{% if not forloop.last %} / {% endif %}{% endfor %}</td>
                <td>
                    <i class="fa fa-phone"></i>
                </td>
            </tr>
            <tr>
                <td>{{direccion}}</td>
                <td>
                    <i class="fa fa-map-marker"></i>
                </td>
            </tr>
        </table>
        <div class="fix"></div>
    </header>
    <div id="pagina">
        <div id="status" class="exito"></div>
        {% if importante %}
        <a class="importante" href="{% url entrada importante.slug importante.pk %}">
            <div id="importante">
                <i class="fa fa-star"></i>{{importante}}
            </div>
        </a>
        {% endif %}
        <a id="menu" class="toggler" href="javascript:void(0)">
            <i class="fa fa-bars"></i>Menú</a>
        <nav id="barra" class="hardware">
            <ul>
                <li>
                    <a href="{% url nosotros %}">Nosotros</a>
                </li>
                <li>
                    <a href="{% url blog %}">Blog</a>
                </li>
                <li>
                    <a href="{% url programas %}">Programas</a>
                </li>
                <li>
                    <a href="{% url contacto %}">Contacto</a>
                </li>
                <li>
                    <a href="{% url eventos %}">Eventos</a>
                </li>
                <li>
                    <a href="{% url libros %}">Libros</a>
                </li>
                <li>
                    <a class="seleccionado" href="{% url galeria %}">Galería</a>
                </li>
                {% if request.user.is_staff %}
                <li>
                    <a href="{% url ayuda %}">Ayuda</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        <section id="principal">
            {% if galeria %} {% for album in galeria.albumes.all %}
            <h1 class="titulo">{{album}}</h1>
            {% if request.user.is_staff %}
            <a href="#modal-{{album|slugify}}" class="pop fancybox">
                <i class="fa fa-picture-o"></i>Cargar imagen</a>
            <div id="modal-{{album|slugify}}" class="modal">
                <div id="progress-{{album.pk}}" class="progress">
                    <span></span>
                </div>
                <label for="imagen">Agregar imagen:</label>
                <div class="contenedor-input">
                    <input type="text" name="titulo" id="titulo-{{album|slugify}}" data-album="{{album|slugify}}" placeholder="Título de la imagen">
                </div>
                <input type="file" name="imagen" id="imagen-{{album.pk}}" data-album="{{album.pk}}">
            </div>
            <div class="fix"></div>
            {% endif %} {% if album.imagenes.all %}
            <div class="imagenes">{% for imagen in album.imagenes.all %}
                <a class="thumbnail fancybox" href="{{MEDIA_URL}}{{imagen.imagen}}" data-fancybox-group="{{album|slugify}}" title="{{imagen}}" style="background-image: url('{{MEDIA_URL}}{{imagen.thumbnail}}');">
                    {% if request.user.is_staff %}
                    <span class="borrar" data-imagen="{{imagen.pk}}">
                        <i class="fa fa-times"></i>Borrar</span>
                    {% endif %}
                </a>
                {% endfor %}</div>{% else %}
            <p class="center">No hay fotos registradas</p>
            {% endif %} {% endfor %} {% else %}
            <p class="center">No hay fotos registradas</p>
            {% endif %}
        </section>
    </div>
    <script>
        cancelarModal = false;
    </script>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.fancybox.min.js"></script>
    <script async src="{{STATIC_URL}}js/fundahog.js"></script>
    <script>
        $(".fancybox").fancybox({
            helpers: {
                title: {
                    type: 'inside',
                    position: 'top'
                }
            },
            beforeShow: function () {
                if (cancelarModal) {
                    $.fancybox.close(true);
                    cancelarModal = false;
                }
            }
        });
    </script>
    {% if request.user.is_staff %}
    <script>
        csrfToken = '{{csrf_token}}';
        urlAgregarImagen = '{% url imagen_agregar %}';
        urlBorrarImagen = '{% url imagen_borrar %}';
    </script>
    <script async src="{{STATIC_URL}}js/fundahog.upload.js"></script>
    <script async src="{{STATIC_URL}}js/fundahog.admin.js"></script>
    <script async src="{{STATIC_URL}}js/fundahog.galeria.js"></script>
    {% endif %}
</body>

</html>