<!doctype html>
<html lang="es">

	<head>
		<meta charset="UTF-8">
		<title>FUNDAHOG</title>
		<link rel="stylesheet" href="{{STATIC_URL}}css/fundahog.css">
	</head>

	<body>
		<div id="pagina">
			<hgroup>
				<h1>Entradas del blog</h1>
			</hgroup>
			{% if entradas %}
			<ul>
				{% for entrada in entradas.all %}
				<a href="{% url entrada entrada.slug entrada.pk %}">
				<li>
					{{entrada}}
				</li> </a>
				{% endfor %}
			</ul>
			{% else %}
			<p class="center">
				No hay entradas en el blog
			</p>
			{% endif %}
		</div>
	</body>

</html>