<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{{libro}} - FUNDAHOG</title>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700'>
    <link rel="stylesheet" href="{{STATIC_URL}}css/fundahog.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome.min.css">{% if request.user.is_staff %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/fundahog.inline.css">{% endif %}
</head>

<body>
    <header id="header">
        <img class="logo" src="{{STATIC_URL}}img/logo.png" alt="FUNDAHOG">
        <table class="contacto">
            <tr>
                <td>{% for telefono in telefonos.all %}{{telefono}}{% if not forloop.last %} / {% endif %}{% endfor %}</td>
                <td>
                    <i class="fa fa-phone"></i>
                </td>
            </tr>
            <tr>
                <td>{{direccion}}</td>
                <td>
                    <i class="fa fa-map-marker"></i>
                </td>
            </tr>
            <tr>
                <td>{{rif}}</td>
                <td>
                    <i class="fa fa-building-o"></i>
                </td>
            </tr>
        </table>
        <div class="fix"></div>
    </header>
    <div id="pagina">
        <div id="status" class="exito"></div>
        {% if importante %}
        <a class="importante" href="{% url entrada importante.slug importante.pk %}">
            <div id="importante">
                <i class="fa fa-star"></i>{{importante}}
            </div>
        </a>
        {% endif %}
        <a id="menu" class="toggler" href="javascript:void(0)">
            <i class="fa fa-bars"></i>Menú</a>
        <nav id="barra" class="hardware">
            <ul>
                <li>
                    <a href="{% url nosotros %}">Nosotros</a>
                </li>
                <li>
                    <a href="{% url blog %}">Blog</a>
                </li>
                <li>
                    <a href="{% url programas %}">Programas</a>
                </li>
                <li>
                    <a href="{% url contacto %}">Contacto</a>
                </li>
                <li>
                    <a href="{% url eventos %}">Eventos</a>
                </li>
                <li>
                    <a class="seleccionado" href="{% url libros %}">Libros</a>
                </li>
                <li>
                    <a href="{% url galeria %}">Galería</a>
                </li>
                {% if request.user.is_staff %}
                <li>
                    <a href="{% url ayuda %}">Ayuda</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        <section id="principal">
            <aside id="sidebar" class="right">
                {% if request.user.is_staff %}
                <a id="guardar" class="boton right" href="javascript:void(0)" title="Haz clic en el contenido para editarlo">Modo edición activo</a>
                <div class="fix"></div>
                {% endif %}
                <form method="get" action="{% url libros_busqueda '1' %}" class="busqueda formulario">
                    <div class="contenedor-input">
                        <i class="fa fa-search"></i>
                        <input name="q" type="text" placeholder="Búsqueda">
                    </div>
                    <div class="fix"></div>
                </form>
                <h2 class="titulo">Categorías</h2>
                {% if request.user.is_staff %}
                <nav class="categorias">
                    <ul>
                        {% for categoria in categorias %}
                        <li>
                            <a class="categoria" href="{% url libros_busqueda_query '1' categoria|slugify %}">
                                <i class="fa fa-bookmark"></i>{{categoria}}</a>
                        </li>
                        {% endfor %}
                        <div class="fix"></div>
                    </ul>
                    <div id="nueva_categoria" contenteditable="false"></div>
                    <a id="agregar" href="javascript:void(0)">
                        <i class="fa fa-plus"></i>Agregar</a>
                </nav>
                {% else %} {% if categorias %}
                <nav class="categorias">
                    <ul>
                        {% for categoria in categorias %}
                        <li>
                            <a class="categoria" href="{% url libros_busqueda_query '1' categoria|slugify %}">
                                <i class="fa fa-bookmark"></i>{{categoria}}</a>
                        </li>
                        {% endfor %}
                        <div class="fix"></div>
                    </ul>
                </nav>
                {% else %}
                <p>No hay categorías registradas</p>
                {% endif %} {% endif %}
            </aside>
            <section id="contenido" class="left">
                {% if request.user.is_staff %}
                <div class="titulo">
                    <div id="titulo" contenteditable="true">
                        {{libro}}
                    </div>
                    <small>
                        <a href="{{MEDIA_URL}}{{libro.archivo}}">
                            <i class="fa fa-cloud-download"></i>Descargar libro</a>
                    </small>
                </div>
                <div id="contenido-html" contenteditable="true">
                    {{libro.descripcion}}
                </div>
                {% else %}
                <h1 class="titulo">{{libro}}
                    <small>
                        <a href="{{MEDIA_URL}}{{libro.archivo}}">
                            <i class="fa fa-cloud-download"></i>Descargar libro</a>
                    </small>
                </h1>
                {{libro.descripcion}} {% endif %}
                <div class="fix"></div>
                <hr>
            </section>
            <div class="fix"></div>
        </section>
    </div>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script async src="{{STATIC_URL}}js/fundahog.js"></script>
    {% if request.user.is_staff %}
    <script>
        inline = true;
        csrfToken = '{{csrf_token}}';
        url = '{% url libro_modificar %}';
        data = '';
        $(document).ready(function() {
            $('#guardar').click(function() {
                var titulo = $('#titulo').text();
                var descripcion = $('#contenido-html').text();
                var libro = "{{libro.pk}}";
                data = 'libro=' + libro + '&titulo=' + titulo + '&descripcion=' + descripcion + '&csrfmiddlewaretoken=' + csrfToken;
            });
        });
    </script>
    <script defer src="{{STATIC_URL}}js/ckeditor/ckeditor.js"></script>
    <script async src="{{STATIC_URL}}js/fundahog.admin.js"></script>
    <script async src="{{STATIC_URL}}js/fundahog.edicion.js"></script>
    {% endif %}
</body>

</html>