<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{{seccion.titulo}} - FUNDAHOG</title>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700'>
    <link rel="stylesheet" href="{{STATIC_URL}}css/fundahog.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome.min.css">
</head>

<body>
    <header id="header">
        <img class="logo" src="{{STATIC_URL}}img/logo.png" alt="FUNDAHOG">
        <table class="contacto">
            <tr>
                <td>{% for telefono in telefonos.all %}{{telefono}}{% if not forloop.last %} / {% endif %}{% endfor %}</td>
                <td>
                    <i class="fa fa-phone"></i>
                </td>
            </tr>
            <tr>
                <td>{{direccion}}</td>
                <td>
                    <i class="fa fa-map-marker"></i>
                </td>
            </tr>
        </table>
        <div class="fix"></div>
    </header>
    <div id="pagina">
        <a id="menu" class="toggler" href="javascript:void(0)">
            <i class="fa fa-bars"></i>Menú</a>
        <nav id="barra" class="hardware">
            <ul>
                <li>
                    <a class="seleccionado" href="{% url nosotros %}">Nosotros</a>
                </li>
                <li>
                    <a href="{% url blog %}">Blog</a>
                </li>
                <li>
                    <a href="{% url programas %}">Programas</a>
                </li>
                <li>
                    <a href="{% url contacto %}">Contacto</a>
                </li>
                <li>
                    <a href="{% url eventos %}">Eventos</a>
                </li>
                <li>
                    <a href="{% url libros %}">Libros</a>
                </li>
                <li>
                    <a href="{% url galeria %}">Galería</a>
                </li>
                {% if request.user.is_staff %}
                <li>
                    <a href="">Ayuda</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        <section id="principal">
            <aside id="sidebar" class="left">
                <nav>
                    <ul>
                        {% for s in seccion.secciones.all %}
                        <li>
                            {% if s.titulo == subseccion.titulo %}
                            <a href="{% url nosotros_subseccion s.titulo|slugify %}" class="seleccionado">{{s.titulo}}
                                <span class="flecha"></span>
                            </a>
                            {% else %}
                            <a href="{% url nosotros_subseccion s.titulo|slugify %}">{{s.titulo}}</a>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
            </aside>
            {% if subseccion %}
            <section id="contenido" class="right">
                <h1 class="titulo">
                    <a href="javascript:void(0)">{{subseccion.titulo}}</a>
                    <small>
                        <i class="fa fa-calendar"></i>{{subseccion.creado}}</small>
                </h1>
                {{subseccion.contenido|safe}}
                <hr>
            </section>
            {% else %}
            <section id="contenido" class="right">
                <h1 class="titulo">
                    <a href="javascript:void(0)">{{seccion.titulo}}</a>
                    <small>
                        <i class="fa fa-calendar"></i>{{seccion.creado}}</small>
                </h1>
                {{seccion.contenido|safe}}
                <hr>
            </section>
            {% endif %}
            <div class="fix"></div>
        </section>
    </div>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script async defer src="{{STATIC_URL}}js/fundahog.js"></script>
</body>

</html>