<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{{seccion.titulo}} - FUNDAHOG</title>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700'>
    <link rel="stylesheet" href="{{STATIC_URL}}css/fundahog.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome.min.css">{% if request.user.is_staff %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/fundahog.progress.css">{% endif %}

</head>

<body>
    <header id="header">
        <img class="logo" src="{{STATIC_URL}}img/logo.png" alt="FUNDAHOG">
        <table class="contacto">
            <tr>
                <td>{% for telefono in telefonos.all %}{{telefono}}{% if not forloop.last %} / {% endif %}{% endfor %}</td>
                <td>
                    <i class="fa fa-phone"></i>
                </td>
            </tr>
            <tr>
                <td>{{direccion}}</td>
                <td>
                    <i class="fa fa-map-marker"></i>
                </td>
            </tr>
        </table>
        <div class="fix"></div>
    </header>
    <div id="pagina">
        <div id="status" class="exito"></div>
        <a id="menu" class="toggler" href="javascript:void(0)">
            <i class="fa fa-bars"></i>Menú</a>
        <nav id="barra" class="hardware">
            <ul>
                <li>
                    <a class="seleccionado" href="{% url nosotros %}">Nosotros</a>
                </li>
                <li>
                    <a href="{% url blog %}">Blog</a>
                </li>
                <li>
                    <a href="{% url programas %}">Programas</a>
                </li>
                <li>
                    <a href="{% url contacto %}">Contacto</a>
                </li>
                <li>
                    <a href="{% url eventos %}">Eventos</a>
                </li>
                <li>
                    <a href="{% url libros %}">Libros</a>
                </li>
                <li>
                    <a href="{% url galeria %}">Galería</a>
                </li>
                {% if request.user.is_staff %}
                <li>
                    <a href="">Ayuda</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        <section id="principal">
            <aside id="sidebar" class="left">
                {% if request.user.is_staff and not subseccion %}
                <a id="guardar" class="boton right cambios" href="javascript:void(0)" style="display:none;">
                    <i class="fa fa-floppy-o"></i>Guardar</a>
                <a id="nuevo" class="boton right" href="javascript:void(0)">
                    <i class="fa fa-file-text-o"></i>Agregar sección</a>
                {% endif %}
                <div class="fix"></div>
                <nav>
                    <ul>
                        {% for s in seccion.secciones.all %}
                        <li>
                            {% if s.titulo == subseccion.titulo %}
                            <a href="{% url nosotros_subseccion s.slug %}" class="seleccionado">{{s.titulo}}
                                <span class="flecha"></span>
                            </a>
                            {% else %}
                            <a href="{% url nosotros_subseccion s.slug %}">{{s.titulo}}</a>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
            </aside>
            <section id="contenido" class="right">
                {% if request.user.is_staff %}
                <form class="formulario admin seccion">
                    <div class="contenedor-input">
                        <input type="text" name="titulo" placeholder="Título">
                    </div>
                    <a href="#modal" class="pop fancybox">
                        <i class="fa fa-picture-o"></i>Agregar imagen al contenido</a>
                    <div id="modal" class="modal">
                        <div id="progress" class="progress">
                            <span></span>
                        </div>
                        <h2 class="titulo">Selecciona una imagen existente</h2>
                        <label for="galerias">Galería:</label>
                        <select name="galerias" id="galerias"></select>
                        <label for="albumes">Álbum:</label>
                        <select name="albumes" id="albumes"></select>
                        <ul class="imagenes"></ul>
                        <label for="imagen">Agregar imagen:</label>
                        <div class="contenedor-input">
                            <input type="text" name="titulo_imagen" id="titulo_imagen" placeholder="Título de la imagen">
                        </div>
                        <input type="file" name="imagen" id="imagen">
                    </div>
                    <textarea id="seccion_contenido" name="contenido" placeholder="Contenido"></textarea>
                </form>
                {% endif %}
                <h1 class="titulo">
                    <a href="javascript:void(0)">{% if subseccion %}{{subseccion.titulo}}{% else %}{{ seccion.titulo }}{% endif %}</a>
                    <small>
                        {% if request.user.is_staff %}
                        <a href="{% if subseccion %}{% url seccion subseccion.slug %}{% else %}{% url seccion seccion.slug %}{% endif %}">
                            <i class="fa fa-pencil-square-o"></i>Editar</a>
                        {% if subseccion %}
                        <a id="borrar-{{subseccion.pk}}" class="borrar" href="javascript:void(0)">
                            <i class="fa fa-times"></i>Borrar</a>{% endif %} {% endif %}
                        <i class="fa fa-calendar"></i>{% if subseccion %}{{subseccion.creado}}{% else %}{{ seccion.creado }}{% endif %}</small>
                </h1>
                {% if subseccion %}{{subseccion.contenido|safe}}{% else %}{{ seccion.contenido|safe }}{% endif %}
                <hr>
            </section>
            <div class="fix"></div>
        </section>
    </div>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script async src="{{STATIC_URL}}js/fundahog.js"></script>
    {% if request.user.is_staff %}
    <script>
        csrfToken = '{{csrf_token}}';
        mediaURL = '{{MEDIA_URL}}';
        superSeccion = '{{seccion.pk}}';
        urlAgregarSeccion = '{% url seccion_agregar %}';
        urlBorrarSeccion = '{% url seccion_borrar %}';
        urlGalerias = '{% url galerias %}';
        urlAlbumes = '{% url albumes %}';
        urlImagenes = '{% url imagenes %}';
        urlAgregarImagen = '{% url imagen_agregar %}';
    </script>
    <script src="{{STATIC_URL}}js/jquery.fancybox.min.js"></script>
    <script defer src="{{STATIC_URL}}js/ckeditor/ckeditor.js"></script>
    <script async src="{{STATIC_URL}}js/jquery.mobile.js"></script>
    <script async src="{{STATIC_URL}}js/fundahog.admin.js"></script>
    <script async src="{{STATIC_URL}}js/fundahog.nosotros.js"></script>
    <script async src="{{STATIC_URL}}js/fundahog.edicion.js"></script>
    <script async src="{{STATIC_URL}}js/fundahog.upload.js"></script>
    <script async src="{{STATIC_URL}}js/fundahog.selector.js"></script>
    {% endif %}
</body>

</html>